<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ZSISC中山女高資訊研究社27屆</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<style>
			.contact-method{
				width: 100%;
				padding: 0;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="/" class="logo"><strong>ZSISC</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">主頁</a></li>
							<li><a href="/introduction">社團簡介</a></li>
							<li><a href="/activity">活動</a></li>
							<li><a href="/cpp">程式班</a></li>
                            <li><a href="/beauty">網美班</a></li>
                            <li><a href="https://www.facebook.com/zsisc27th">Facebook</a></li>
                            <li><a href="https://www.instagram.com/zsisc27th/?hl=zh-tw">Instagram</a></li>
                            <li><a href="https://tellonym.me/ZSISC27th">匿名提問</a></li>
                            <li><a href="https://forms.gle/aLr8CV7JJ7DAjSf4A">地社表單</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
                                <span style="font-family:Microsoft JhengHei;">
								<h1>活動</h1>
                                <h3>(以下活動內容皆可能會有微改，不強迫參加，地社也可參加)</h3>
                                </span>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
								    <img class="evarwd" src="images/pic103.png"  width="500" height="500" alt="" data-position="center center" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h3>放學社課</h3>
                                                </span>
											</header>
											<span style="font-family:Microsoft JhengHei;">
                                                <p>時間：每週一到五放學後(每天課程不同)</p>
                                                <p>地點：建國中學電腦教室</p>
                                                <p>講師團隊：建成楓景四校教學群</p>
                                                <p>內容：尚未定論，總之是很有趣的東西( • ̀ω•́ )</p>
                                                <p>備註：會由高二學姐統一帶去上課</p>
										</div>
									</div>
								</section>
								<section>
								<img class="evarwd" src="images/summer.JPG" width="580" height="435"alt="" data-position="top center" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h4>四校暑訓</h4>
                                                <h3>楓下共建成中景</h3>
                                                </span>
											</header>
											<span style="font-family:Microsoft JhengHei;">
                                                <p>主辦學校：建中資訊、成功電研、中山資研、景美電資</p>
                                                <p>活動時間：8/3~8/9，為期7天(不過夜)</p>
                                                <p>活動內容：大地遊戲、主題式課程、企業參訪、RPG、超有趣的神祕活動*n、桌遊、充滿歡樂氣氛的成果發表</p>
                                                <p>參加對象：國三升高一學生為主，限40名</p>
                                            </span>
										</div>
									</div>
								</section>
								<section>
								<img class="evarwd" src="images/new.jpg" width="540" height="412.5"alt="" data-position="25% 25%" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h3>八校迎新</h3>
                                                </span>
											</header>
                                            <span style="font-family:Microsoft JhengHei;">
                                                <p>主辦學校：成功電研、中山資研、建中電研、附中電算、大安電研、麗山星創、中和資研、政附資訊</p>
                                                <p>活動時間：約十月中，為期1天</p>
                                                <p>活動內容：破冰遊戲、演講、大地遊戲、RPG</p>
                                                <p>參加對象：八校高一社員，人數不限</p>

                                            </span>
										</div>
									</div>
								</section>
                                <section>
								    <img class="evarwd" src="images/class.JPG"width="560" height="420" alt="" data-position="center center" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h3>四校聯課</h3>
                                                </span>
											</header>
											<span style="font-family:Microsoft JhengHei;">
                                                <p>主辦學校：建中資訊、成功電研、中山資研、景美電資</p>
                                                <p>活動時間：約十月底、十一月初的六日，為期4天</p>
                                                <p>活動內容：大地遊戲、主題式課程</p>
                                                <p>參加對象：四校高一社員，限40人</p>
										</div>
									</div>
								</section>
								<section>
								<img class="evarwd" src="images/autu.jpg" width="500" height="500"alt="" data-position="top center" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
                                                <h3>建楓秋遊</h3>
                                                </span>
											</header>
											<span style="font-family:Microsoft JhengHei;">
                                                <p>主辦學校：建中資訊、中山資研</p>
                                                <p>活動時間：約十一月底，為期1天</p>
                                                <p>活動內容：每年不定</p>
                                                <p>參加對象：兩校高一社員，人數不限</p>
                                            </span>
											
										</div>
									</div>
								</section>
								<section>
								<img class="evarwd" src="images/xmas.JPG" width="560" height="420"alt="" data-position="25% 25%" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h3>四校耶晚</h3>
                                                </span>
											</header>
                                            <span style="font-family:Microsoft JhengHei;">
                                                <p>主辦學校：建中資訊、成功電研、中山資研、景美電資</p>
                                                <p>活動時間：約十二月底，為期半日</p>
                                                <p>活動內容：交換禮物、團康</p>
                                                <p>參加對象：四校高一社員，人數不限</p>

                                            </span>
										</div>
									</div>
								</section>
                                <section>
								    <img class="evarwd" src="images/winter.JPG"width="600" height="400" alt="" data-position="center center" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h3>四校寒訓</h3>
                                                </span>
											</header>
											<span style="font-family:Microsoft JhengHei;">
                                                <p>主辦學校：建中資訊、成功電研、中山資研、景美電資</p>
                                                <p>活動時間：約一月底，為期7天(不過夜)</p>
                                                <p>活動內容：大地遊戲、主題式課程、企業參訪、RPG、超有趣的神祕活動*n、桌遊、充滿歡樂氣氛的成果發表</p>
                                                <p>參加對象：四校高一社員，限40人</p>
										</div>
									</div>
								</section>
								<section>
								<img class="evarwd" src="images/spring.JPG" width="540" height="402"alt="" data-position="top center" />
									<div class="content">
										<div class="inner">
											<header class="major">
                                                <span style="font-family:Microsoft JhengHei;">
												<h3>成楓春遊</h3>
                                                </span>
											</header>
											<span style="font-family:Microsoft JhengHei;">
                                                <h4>(上一屆因武漢肺炎關係，成功無法合辦QAQ)</h4>
                                                <p>主辦學校：成功電研、中山資研</p>
                                                <p>活動時間：約三月初，為期1天</p>
                                                <p>活動內容：每年不定</p>
                                                <p>參加對象：兩校高一社員，人數不限</p>
                                            </span>
				
										</div>
									</div>
								</section>
							</section>

						<!-- Three -->

					</div>
                            <section id="three">
								<div class="inner">
									<header class="major">
										<h2>Q&A</h2>
									</header>
                                    <span style="font-family:Microsoft JhengHei;">
									<p>在問問題之前，先來這裡看看有沒有妳要問的問題吧!</p>
                                    </span>
									<ul class="actions">
										<li><a href="/q&a" class="button next">Go!</a></li>
									</ul>
								</div>
							</section>

				<!-- Contact -->
					<section id="contact">
                        <center>
                            <section>
                            <div class="contact-method">
                                    <span style="font-family:Microsoft JhengHei;">
                                    <a href="https://peing.net/zh-TW/zsisc27th?event=0"><span class="label"><h3>匿名提問</h3></a>
                                    </span>
                                </span>
                                </div>
                        </section>
                            <section>
                            <div class="contact-method">
                                    <span style="font-family:Microsoft JhengHei;">
                                    <a href="https://forms.gle/aLr8CV7JJ7DAjSf4A"><span class="label"><h3>地社表單</h3></a>
                                    </span>
                                </span>
                                </div>
                        </section>
                            <section>
									<div class="contact-method">
										<a href="https://www.facebook.com/zsisc27th"><span class="label"><h3>Facebook</h3></span></a>
										
                                        <span style="font-family:Microsoft JhengHei;">
										<span>中山女高資訊研究社27th</span>
                                        </span>
									</div>
							</section>
                             <section>   
									<div class="contact-method">
										<a href="https://www.instagram.com/zsisc27th/?hl=zh-tw"><span class="label"><h3>Instagram</h3></span></a>
										
                                        <span>@zsisc27th</span>
									</div>
							</section>
                             <section>
									<div class="contact-method">
										<h3>Email</h3>
										<span>zsisc27@gmail.com</span>
									</div>
				            </section>
				        </center>     
                    </section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li>
                                <span style="font-family:Microsoft JhengHei;">
                                <h4><li>Design by <a href="https://html5up.net/">HTML5 UP</a>, 很想睡覺的楓資27網管</li></h4>
                                <h4><li>Special Thanks to CKCSC33rd</li></h4>
                                </span>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>