<!DOCTYPE HTML>

<html>
	<head>
        <title>ZSISC中山女高資訊研究社27屆</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<style>
			.contact-method{
				width: 100%;
				padding: 0;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
                        <a href="/" class="logo"><strong>ZSISC</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">主頁</a></li>
							<li><a href="/introduction">社團簡介</a></li>
							<li><a href="/activity">活動</a></li>
							<li><a href="/cpp">程式班</a></li>
                            <li><a href="/beauty">網美班</a></li>
                            <li><a href="https://www.facebook.com/zsisc27th">Facebook</a></li>
                            <li><a href="https://www.instagram.com/zsisc27th/?hl=zh-tw">Instagram</a></li>
                            <li><a href="https://tellonym.me/ZSISC27th">匿名提問</a></li>
                            <li><a href="https://forms.gle/aLr8CV7JJ7DAjSf4A">地社表單</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
                                <span style="font-family:Microsoft JhengHei;">
                                    <h1>中山女高資訊研究社27屆</h1>
                                    <h2>Zhong Shan Information Study Club 27th</h2>
                                </span>
							</header>
							<div class="content">
                                <span style="font-family:Microsoft JhengHei;">
								<p>程式設計 X 網頁美術</p>
                                </span>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">about</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
                                        <span style="font-family:Microsoft JhengHei;">
										<h3><a href="/introduction" class="link">社團簡介</a></h3>
                                        </span>
                                    </header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.png" alt="" />
									</span>
									<header class="major">
                                        <span style="font-family:Microsoft JhengHei;">
                                        <h3><a href="/activity" class="link">活動</a></h3>
                                        </span>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
                                        <span style="font-family:Microsoft JhengHei;">
										<h3><a href="/cpp" class="link">程式班</a></h3>
                                        </span>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
                                        <span style="font-family:Microsoft JhengHei;">
										<h3><a href="/beauty" class="link">網美班</a></h3>
                                        </span>
									</header>
								</article>
								
							</section>

						<!-- Two -->
						

					</div>
                        <section id="three">
								<div class="inner">
									<header class="major">
										<h2>Q&A</h2>
									</header>
                                    <span style="font-family:Microsoft JhengHei;">
									<p>在問問題之前，先來這裡看看有沒有妳要問的問題吧!</p>
                                    </span>
									<ul class="actions">
										<li><a href="/q&a" class="button next">Go!</a></li>
									</ul>
								</div>
							</section>
				<!-- Contact -->
					<section id="contact" style="text-align: center;">
                            <section>
                            <div class="contact-method">
                                    <span style="font-family:Microsoft JhengHei;">
                                    <a href="https://tellonym.me/ZSISC27th"><span class="label"><h3>匿名提問</h3></a>
                                    </span>
                                </span>
                                </div>
                        </section>
                            <section>
                            <div class="contact-method">
                                    <span style="font-family:Microsoft JhengHei;">
                                    <a href="https://forms.gle/aLr8CV7JJ7DAjSf4A"><span class="label"><h3>地社表單</h3></a>
                                    </span>
                                </span>
                                </div>
                        </section>
                            <section>
									<div class="contact-method">
										<a href="https://www.facebook.com/zsisc27th"><span class="label"><h3>Facebook</h3></span></a>
										
                                        <span style="font-family:Microsoft JhengHei;">
										<span>中山女高資訊研究社27th</span>
                                        </span>
									</div>
							</section>
                             <section>   
									<div class="contact-method">
										<a href="https://www.instagram.com/zsisc27th/?hl=zh-tw"><span class="label"><h3>Instagram</h3></span></a>
										
                                        <span>@zsisc27th</span>
									</div>
							</section>
                             <section>
									<div class="contact-method">
										<h3>Email</h3>
										<span>zsisc27@gmail.com</span>
									</div>
				            </section>
				        </center>     
                    </section>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li>
                                <span style="font-family:Microsoft JhengHei;">
                                <h4><li>Design by <a href="https://html5up.net/">HTML5 UP</a>, 很想睡覺的楓資27網管</li></h4>
                                <h4><li>Special Thanks to CKCSC33rd</li></h4>
                                </span>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>

</html>