<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>ZSISC中山女高資訊研究社27屆</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<style>
		.contact-method {
			width: 100%;
			padding: 0;
		}

		.picc {
			width: 50%;
			height: auto;
		}

		.secc {
			width: 40%;
			height: auto;
		}

		@media screen and (max-width: 980px) {
			.picc {
				width: 100%;
				height: auto;
			}

			.secc {
				width: 100%;
				height: auto;
			}
		}
	</style>
</head>

<body class="is-preload" style="overflow-x: hidden;">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<!-- Note: The "styleN" class below should match that of the banner element. -->
		<header id="header" class="alt style2">
			<a href="/" class="logo"><strong>ZSISC</strong></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/">主頁</a></li>
				<li><a href="/introduction">社團簡介</a></li>
				<li><a href="/activity">活動</a></li>
				<li><a href="/cpp">程式班</a></li>
				<li><a href="/beauty">網美班</a></li>
				<li><a href="https://www.facebook.com/zsisc27th">Facebook</a></li>
				<li><a href="https://www.instagram.com/zsisc27th/?hl=zh-tw">Instagram</a></li>
				<li><a href="https://tellonym.me/ZSISC27th">匿名提問</a></li>
				<li><a href="https://forms.gle/aLr8CV7JJ7DAjSf4A">地社表單</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<!-- Note: The "styleN" class below should match that of the header element. -->
		<section id="banner" class="style2">
			<div class="inner">
				<span class="image">
					<img src="images/pic07.jpg" alt="" />
				</span>
				<header class="major">
					<span style="font-family:Microsoft JhengHei;">
						<h1>社團簡介</h1>
					</span>
				</header>

			</div>
		</section>

		<!-- Main -->
		<div id="main">

			<!-- One -->

			<!-- Two -->
			<section id="two" class="spotlights">
				<section>
					<img src="images/pic08.jpg" class="picc" data-position="center center" />
					<div class="content secc">
						<div class="inner">
							<header class="major">
								<span style="font-family:Microsoft JhengHei;">
									<h3>ZSISC 楓資</h3>
								</span>
							</header>
							<span style="font-family:Microsoft JhengHei;">

								<p>中山女高資訊研究社簡稱楓資</p>
								<p>是由一群熱愛資訊的瘋子組成( •̅_•̅ )</p>
								<p>從程式設計到網頁美術</p>
								<p>我們都有涉獵</p>
								<P>而除了汲取新知外</P>
								<p>我們也不時與友社舉辦各種活動</p>
								<p>學妹加楓資 為青春增添不同色彩◟(∗❛ัᴗ❛ั∗)◞！</p>

							</span>
						</div>
					</div>

				</section>
			</section>
			<section id="two" class="spotlights">
				<section>
					<img src="images/pic784.jpg" class="picc" data-position="center center" />
					<div class="content secc">
						<div class="inner">
							<header class="major">
								<span style="font-family:Microsoft JhengHei;">
									<h3>ZSWSC 麻資(X)</h3>
								</span>
							</header>
							<p>weed!</p>
							<p>weeeed weed eee weeed!</p>
							<p>weed weeeeeed weed、weed、weed、weeeeeee…</p>
							<p>weeed?weed!</p>
							<p>weeeeeed~~~~</p>
							<p>weeed!(ﾟ∀。)</p>

						</div>
					</div>
				</section>

				<!-- Three -->
			</section>
		</div>
		<section id="three">
			<div class="inner">
				<header class="major">
					<h2>Q&A</h2>
				</header>
				<span style="font-family:Microsoft JhengHei;">
					<p>在問問題之前，先來這裡看看有沒有妳要問的問題吧!</p>
				</span>
				<ul class="actions">
					<li><a href="/q&a" class="button next">Go!</a></li>
				</ul>
			</div>
		</section>

		<!-- Contact -->
		<section id="contact">
			<center>
				<section>
					<div class="contact-method">
						<span style="font-family:Microsoft JhengHei;">
							<a href="https://tellonym.me/ZSISC27th"><span class="label">
									<h3>匿名提問</h3></a>
						</span>
						</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span style="font-family:Microsoft JhengHei;">
							<a href="https://forms.gle/aLr8CV7JJ7DAjSf4A"><span class="label">
									<h3>地社表單</h3></a>
						</span>
						</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<a href="https://www.facebook.com/zsisc27th"><span class="label">
								<h3>Facebook</h3>
							</span></a>

						<span style="font-family:Microsoft JhengHei;">
							<span>中山女高資訊研究社27th</span>
						</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<a href="https://www.instagram.com/zsisc27th/?hl=zh-tw"><span class="label">
								<h3>Instagram</h3>
							</span></a>

						<span>@zsisc27th</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<h3>Email</h3>
						<span>zsisc27@gmail.com</span>
					</div>
				</section>
			</center>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li>
					<span style="font-family:Microsoft JhengHei;">
						<h4>
							<li>Design by <a href="https://html5up.net/">HTML5 UP</a>, 很想睡覺的楓資27網管</li>
						</h4>
						<h4>
							<li>Special Thanks to CKCSC33rd</li>
						</h4>
					</span>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>