<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ZSISC中山女高資訊研究社27屆</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo"><strong>ZSISC</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">主頁</a></li>
							<li><a href="/introduction">社團簡介</a></li>
							<li><a href="/activity">活動</a></li>
							<li><a href="/cpp">程式班</a></li>
                            <li><a href="/beauty">網美班</a></li>
                            <li><a href="https://www.facebook.com/zsisc27th">Facebook</a></li>
                            <li><a href="https://www.instagram.com/zsisc27th/?hl=zh-tw">Instagram</a></li>
                            <li><a href="https://tellonym.me/ZSISC27th">匿名提問</a></li>
                            <li><a href="https://forms.gle/aLr8CV7JJ7DAjSf4A">地社表單</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Q&A</h1>
									</header>
                                    <span style="font-family:Microsoft JhengHei;">
									   <p>Q1：一聽到資訊就覺得好可怕，社課會不會都教很難懂的東西?</p>
                                        <p>A1：不會！我們都從最最最基礎開始教起，不會很難理解，而且是高二學姊教課，有問題都可以毫無壓力的盡量問～</p>
                                        <p>Q2：有沒有學姊學妹制？一直聽不懂會不會被學姊罵qwq</p>
                                        <p>A2：沒有！資研是個溫暖的大家庭，學姊幾乎都瘋瘋的，聽不懂也沒關係，學姊都很有耐心！(而且程式班還有在考慮要不要設立匿名提問ㄛ)</p>
                                        <p>Q3：我選修有選C++耶，這樣課程內容會不會跟程式班重複?</p>
                                        <p>A3：多多少少會有一些重複ㄛ！但我們可以幫助妳鞏固對C++的記憶，而且下學期開始就是比選修更廣更有趣的課程ㄌ～不過程式班會在預計11月時，提供已學會該節課觀念的人不用聽社課的方案(討論中，尚未完善)</p>
                                        <p>Q4：資研是不是都很宅很油ㄚ？</p>
                                        <p>A4：沒有啦><程式也可以出門打ㄚ，或是妳想邊運動邊打搞不好也是可行的，而且我們活動這麼多，資研都很宅很油是刻板印象啦</p>
                                        <p>Q5：蛤ㄚ～程式班只有教C++跟演算法ㄛ，我想學C++以外的程式語言ㄝ</p>
                                        <p>A5：那就來放課吧！放課是免費的ㄛ，可以獲得更多不同知識又可以更認識同屆跟學姊୧(๑•̀⌄•́๑)૭</p>
                                        <p>Q6：資訊研究社有跟別校接觸的機會嗎？會不會接觸也都只是打程式？？</p>
                                        <p>A6：有！當然有！非常多的機會！我們每一個活動都是跟別校合辦，活動也不是只有打程式，包準妳可以認識很多別校的朋友～</p>
                                        <p>Q7：學姊學姊，麻資看起來好有趣ㄛ，我要怎麼加入✪ω✪？</p>
                                        <p>A7：只要妳夠ㄎㄧㄤ，常來跟學姊發瘋，學姊就會給妳加入的管道ㄌ，麻資非常歡迎妳們的加入ㄛᕕ( ᐛ )ᕗ</p>
                                    </span>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
                        <center>
                            <section>
                            <div class="contact-method">
                                    <span style="font-family:Microsoft JhengHei;">
                                    <a href="https://tellonym.me/ZSISC27th"><span class="label"><h3>匿名提問</h3></a>
                                    </span>
                                </span>
                                </div>
                        </section>
                            <section>
                            <div class="contact-method">
                                    <span style="font-family:Microsoft JhengHei;">
                                    <a href="https://forms.gle/aLr8CV7JJ7DAjSf4A"><span class="label"><h3>地社表單</h3></a>
                                    </span>
                                </span>
                                </div>
                        </section>
                            <section>
									<div class="contact-method">
										<a href="https://www.facebook.com/zsisc27th"><span class="label"><h3>Facebook</h3></span></a>
										
                                        <span style="font-family:Microsoft JhengHei;">
										<span>中山女高資訊研究社27th</span>
                                        </span>
									</div>
							</section>
                             <section>   
									<div class="contact-method">
										<a href="https://www.instagram.com/zsisc27th/?hl=zh-tw"><span class="label"><h3>Instagram</h3></span></a>
										
                                        <span>@zsisc27th</span>
									</div>
							</section>
                             <section>
									<div class="contact-method">
										<h3>Email</h3>
										<span>zsisc27@gmail.com</span>
									</div>
				            </section>
				        </center>     
                    </section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li>
                                <span style="font-family:Microsoft JhengHei;">
                                <h4><li>Design by <a href="https://html5up.net/">HTML5 UP</a>, 很想睡覺的楓資27網管</li></h4>
                                <h4><li>Special Thanks to CKCSC33rd</li></h4>
                                </span>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>